label.requerido:after{
    content: " *";
    color: #e73d4a;
}
.btn-accion-tabla {
    cursor: pointer;
    border: none;
    background: 0;
    padding: 0 0 0 5px;
    font-size: 14px !important;
    line-height: 1.5;
    
}
.d-inline{
    display: inline;
}
.ajustar{
    white-space: nowrap;
    width: 1px;
   }
   

.width70{
    width: 80px !important;
}
.pl-40{
    padding-left:40px !important;
}
.pl-60{
    padding-left:60px !important;
}

.pl-80{
    padding-left:80px !important;
}
.menu li.menu-home > a {
    background-color: transparent;
  color: #000000; 
  font-size: 14px; 
}
.header-logins {
    display: flex;
    align-items: center;
    margin-right: 3.5rem;
    z-index: 999; 
}
.header-logins .header-login + .header-login, .header-logins .header-login + .dropdown 
{
   margin-left: 2rem; 
}
.header-login {
    position: relative;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: .01rem; }
.header-login > a {
    color: #ffff;
    position: relative;
    padding-right: 1.4rem;
    display: inline-flex;
    align-items: center;
    letter-spacing: .025rem;
    
}
.header-login a img {
    display: inline-block;
    max-width: 16px;
    height: auto;
    margin-right: .6rem; }
  .header-login a:hover, .header-login a:focus {
    text-decoration: none; 
}
.pull-right {
    float: right !important;
}
          